* {
    border: 0px solid red;
}

.new_game {
    padding: 20px 0;
}

#js-computerResult,
#js-playerResult {
    color: green;
    font-size: 20px;
    font-weight: 700;
}



#js-playerPickImage,
#js-computerPickImage {
    height: 50px;
}

p {
    text-align: justify;
    padding: 20px;
    font-weight: 700;
}